body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.weatherForm {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(31, 103, 31);
    color: rgb(228, 225, 225);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(22, 73, 22);
}

.card {
    background: linear-gradient(180deg, blue, orange);
    padding: 50px;
    box-shadow: 2px 2px 5px black;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;    
    border-radius: 10px;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;    
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.748);
    margin-bottom: 25px;    
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;    
}

.descDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;    
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.746)00;
}